[Unit]
Description=PostgreSQL Database
After=network-online.target

[Container]
ContainerName=postgres
Image=docker.io/library/postgres:16
Volume=%h/srv/postgres/data:/var/lib/postgresql/data:Z
Secret=postgres_password,type=env,target=POSTGRES_PASSWORD
Environment=TZ=America/New_York
Network=host

[Service]
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=default.target
