[Unit]
Description=NAS Music Share
After=network-online.target
Wants=network-online.target

[Mount]
What=//diskstation/Music
Where=/mnt/nas/music
Type=cifs
Options=credentials=/etc/samba/private/nas-movies.cred,vers=3.0,ro,uid=1000,gid=1000,iocharset=utf8,file_mode=0444,dir_mode=0555
TimeoutSec=30

[Install]
WantedBy=multi-user.target
